extends layout

block content
    script(type="module" src='/javascripts/viewmodel/itemCategoryViewModel.js')   

    body.dx-viewport
        #container.main-container
            h4#labelTitle
            #dataGrid
    footer#sticky-footer.footer
        #info-panel