extends layout

block content
    script(type="module" src='/javascripts/viewmodel/promotionViewModel.js')   

    body.dx-viewport
        #container.main-container
            h4#labelTitle
            #information
            br 
            br
            #form

    footer#sticky-footer.footer
        #info-panel