extends layout

block content
    script(type="module" src='/javascripts/viewmodel/taverneViewModel.js')   

    body.dx-viewport
        #container.main-container
            .placeholder-middle
            image#imageTitle(src="/images/tavern.png" width= "1080px")
            .placeholder-small
            #description
            .placeholder-middle
            image#imageTitle(src="/images/daily.png" width= "500px")
            .placeholder-small
            #lastDaily
            .demo-container
                #page
                    #responsive-box
                        .header(data-options="dxItem: { location: [{ row: 0, col: 0,  colspan: 3,  screen: 'lg' }, { row: 0, col: 0, colspan: 2, screen: 'sm' }] }")
                            p#daily
                        .left-side-bar(data-options="dxItem: { location: [{ row: 1, col: 0, screen: 'lg' }, { row: 2, col: 0, screen: 'sm' }] }")
                            h5#daily0Title
                            .placeholder-small
                            #daily0Information
                            .placeholder-middle
                            #daily0gold
                            #daily0xp
                            .placeholder-middle
                            #daily0
                        .content(data-options="dxItem: { location: [{ row: 1, col: 1, screen: 'lg' }, { row: 1, col: 0, colspan: 2, screen: 'sm' }] }")
                            h5#daily1Title
                            .placeholder-small
                            #daily1Information
                            .placeholder-middle
                            #daily1gold
                            #daily1xp
                            .placeholder-middle
                            #daily1
                        .right-side-bar(data-options="dxItem: { location: [{ row: 1, col: 2, screen: 'lg' }, { row: 2, col: 1, screen: 'sm' }] }")
                            h5#daily2Title
                            .placeholder-small
                            #daily2Information
                            .placeholder-middle
                            #daily2gold
                            #daily2xp
                            .placeholder-middle
                            #daily2
            .placeholder-middle
            image#imageTitle(src="/images/trader.png" width= "500px")
            .placeholder-small
            #heroWallet
            #healingDataGrid
            .placeholder-middle
            image#imageTitle(src="/images/trainer.png" width= "500px")
            .placeholder-small
            #heroTrait
            #trainerDataGrid
    footer#sticky-footer.footer
        #info-panel