#sticky-container {
    width: 100%;
    background: #35383c !important;
    position: fixed;
    top: 0px;
}

#menu-container {
    padding-top: 50px;
    padding-left: 2px;
    padding-right: 2px;
    z-index: 9999;
}
